<h1>New Communication</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.communication_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.communication_path(@conn, :index) %></span>
