<h1>Edit Travel preference</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.travel_preference_path(@conn, :update, @travel_preference)) %>

<span><%= link "Back", to: Routes.travel_preference_path(@conn, :index) %></span>
