<h1>New Travel preference</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.travel_preference_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.travel_preference_path(@conn, :index) %></span>
