<h1>Listing Roletypes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for role_type <- @roletypes do %>
    <tr>
      <td><%= role_type.code %></td>

      <td>
        <span><%= link "Show", to: Routes.role_type_path(@conn, :show, role_type) %></span>
        <span><%= link "Edit", to: Routes.role_type_path(@conn, :edit, role_type) %></span>
        <span><%= link "Delete", to: Routes.role_type_path(@conn, :delete, role_type), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Role type", to: Routes.role_type_path(@conn, :new) %></span>
