<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Alpha2</th>
      <th>Alpha3</th>
      <th>Numeric3</th>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for country <- @countries do %>
    <tr>
      <td><%= country.alpha2 %></td>
      <td><%= country.alpha3 %></td>
      <td><%= country.numeric3 %></td>
      <td><%= country.name %></td>

      <td>
        <span><%= link "Show", to: Routes.country_path(@conn, :show, country) %></span>
        <span><%= link "Edit", to: Routes.country_path(@conn, :edit, country) %></span>
        <span><%= link "Delete", to: Routes.country_path(@conn, :delete, country), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Country", to: Routes.country_path(@conn, :new) %></span>
