<h1>Edit Communication type code</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.communication_type_code_path(@conn, :update, @communication_type_code)) %>

<span><%= link "Back", to: Routes.communication_type_code_path(@conn, :index) %></span>
