<h1>Listing Travelcardtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for travel_card_type <- @travelcardtypes do %>
    <tr>
      <td><%= travel_card_type.name %></td>

      <td>
        <span><%= link "Show", to: Routes.travel_card_type_path(@conn, :show, travel_card_type) %></span>
        <span><%= link "Edit", to: Routes.travel_card_type_path(@conn, :edit, travel_card_type) %></span>
        <span><%= link "Delete", to: Routes.travel_card_type_path(@conn, :delete, travel_card_type), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Travel card type", to: Routes.travel_card_type_path(@conn, :new) %></span>
