<h1>New Travel card type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.travel_card_type_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.travel_card_type_path(@conn, :index) %></span>
