<h1>Edit Individual communication</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.individual_communication_path(@conn, :update, @individual_communication)) %>

<span><%= link "Back", to: Routes.individual_communication_path(@conn, :index) %></span>
