<h1>Edit Organisation communications</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organisation_communications_path(@conn, :update, @organisation_communications)) %>

<span><%= link "Back", to: Routes.organisation_communications_path(@conn, :index) %></span>
