<h1>Edit Identifications</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.identifications_path(@conn, :update, @identifications)) %>

<span><%= link "Back", to: Routes.identifications_path(@conn, :index) %></span>
