<h1>Edit Organisation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organisation_path(@conn, :update, @organisation)) %>

<span><%= link "Back", to: Routes.organisation_path(@conn, :index) %></span>
