<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :id_nr %>
  <%= text_input f, :id_nr %>
  <%= error_tag f, :id_nr %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :alias %>
  <%= text_input f, :alias %>
  <%= error_tag f, :alias %>

  <%= label f, :iata %>
  <%= text_input f, :iata %>
  <%= error_tag f, :iata %>

  <%= label f, :icao %>
  <%= text_input f, :icao %>
  <%= error_tag f, :icao %>

  <%= label f, :callsign %>
  <%= text_input f, :callsign %>
  <%= error_tag f, :callsign %>

  <%= label f, :country_name %>
  <%= text_input f, :country_name %>
  <%= error_tag f, :country_name %>

  <%= label f, :active %>
  <%= checkbox f, :active %>
  <%= error_tag f, :active %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
