<h1>New Individual address</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.individual_address_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.individual_address_path(@conn, :index) %></span>
