<h1>Show Individual address</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.individual_address_path(@conn, :edit, @individual_address) %></span>
<span><%= link "Back", to: Routes.individual_address_path(@conn, :index) %></span>
